/* xForm section - basic style */

.cd-form {
	input[type=text],
	.cd-input-wrapper {
		margin: 1em;
	}

	.cd-input-wrapper {
		position: relative;
		display: inline-block;
	}

	select::-ms-expand {
      display: none;
	}
}

@-moz-document url-prefix(){
	/* hide custom arrow on Firefox */
	.cd-select::after {
		display: none;
	}
}

.no-csstransitions .cd-select::after {
	display: none;
}