@media only screen and (min-width: 50em) {
 body {
   width: 80%;
   margin: auto;
 }
 
  .page-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }
  header {
    height: auto;
  }
  .summary p {
    width: 44%;
  }
.intro::before {
  content: "";
  width: 40%;
  height: auto;
  background-image: url("img\icons\bird.svg");
}
  .preamble, .summary {
    position: relative;
    width: 97.5%;

  }
  .main {
    position: relative;
    
    left: 0;
    width: 70%;
  }
  .sidebar {
    position: relative;
    margin-top: 40px;
    padding: 20px;
    right:0;
    width: 20%;
    margin-bottom: 0;
    }

    div {
      margin-top: 20px;
    }
    footer {
      margin-top: 20px;
      position: static;
    }
}
