* {}

div {
    padding: .5rem;
}

.extra1, .extra2, .extra3, .extra4, .extra5, .extra6 {
    display: none;
}

.page-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    padding: 0;
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

header {
    width: 49%;
    height: 20vw;
}

header h1 {
    font-size: 6vw;
}

header h2 {
    text-align: right;
    font-size: 3vw;
}

.summary p {
    width: 100%;
}

.preamble {
    width: 100%;
    padding: .5rem;
}

footer {
    position: relative;
    top: 860px;
}


.supporting {}

.explanation {}

.participation {}

.benefits {}

.requirements {}

.zen-validate-html {}

.zen-validate-css {}

.zen-license {}

.zen-accessibility {}

.zen-github {}

.wrapper {}

.design-selection {}

.select {}

.design-name {
    /* 8 of these */
}

.designer-name {
    /* 8 of these too */
}

.design-archives {}

.archives {}

.next {}

.indicator {}

.viewall {}

.zen-resources {}

.resources {}

.view-css {}

.css-resources {}

.zen-faq {}

.zen-submit {}

.zen-translations {}

/* do not use the following divs! use ::before and ::after! */
.extra1 {}

.extra2 {}

.extra3 {}

.extra4 {}

.extra5 {}

.extra6 {}