aside {
    text-align: right;
    
}

aside h3 {
    text-align: center;
}

.sidebar {
    border: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding: .5em;
}

a {
    color: #2F56B0;
    position: relative;
    text-decoration: none;
    transition: color .4s ease-out;
}

a:hover {
    font-size: 1.3em;
    color: #457DFB;
    right: 0;
    text-decoration: none;
}

a:hover:after {
    border-color: #457DFB;
    right: 0;
}

a:after {
    border-radius: 1em;
    border-top: .1em solid #2F56B0;
    content: "";
    position: absolute;
    right: 100%;
    bottom: -.20em;
    left: 0;
    transition: right .4s cubic-bezier(0, .5, 0, 1),
        border-color .4s ease-out;
}

a:hover:after {
    right: 0;
}

.wrapper h3::before {
    content: "";
    display: inline-block;
    background-image: url(https://i.postimg.cc/rFnyCRjy/pajaro.gif);
    background-size: auto 100%;
    width: 50px;
    height: 50px;
    will-change: background-position;

    animation-name: fly-cycle;
    animation-iteration-count: infinite;

    animation-duration: 10s;
    animation-delay: -1s;
}


@keyframes fly-cycle {
    0% {
        transform: translate(0, 0) scaleX(-1);
    }

    10% {
        transform: translate(0, 0) scaleX(-1);
    }


    40% {
        transform: translate(350%, 0%);
    }

    60% {
        transform: translate(350%, 0%);
    }

    100% {
        transform: translate(0, 0) scaleX(-1);
    }



}

footer a {
  padding: 10px;
}
.zen-validate-email {
}
.zen-validate-css {
}
.zen-license {
}
.zen-accesibility {
}
.zen-github {
}
